.address-edit {
    max-width: 60%;
    margin: 50px auto;
    text-align: center;
}

.address-edit__title {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.address-edit__form {
    text-align: left;
}

.form__group {
    margin-bottom: 18px;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: left;
    width: 100%;
}

.form__input {
    width: 100%;
    border: 1px solid #ccc;
    height: 34px;
    border-radius: 2px;
    padding: 4px 8px;
    height: 59px;
}

.address-edit__btn {
    width: 100%;
    background: #F45B5B;
    color: #fff;
    border: none;
    height: 59px;
    margin-top: 16px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
}
.form-error {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    text-align: left;
}