* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.search{
    flex: 1;
    align-items: center;
    display: flex;
    width: 100%;
}

.search-input{
    font-size: 24px;
    color: #000000;
    padding: 10px ;
    border-radius: 5px;
    width: 100%;
}
.search-input::placeholder {
    color: #000;
    opacity: 1;
    padding: 20px 10px;
}


.header{
    display: flex;
    height: 80px;
    background-color: #000;
    align-items: center;
    position: sticky;
}
.header__ttl{
    width: 20%;
    display: flex;
}
.ttl-img1{
    width: 20%;
    padding: 10px 0 10px 20px;
}
.ttl-img2 {
    width: 60%;
    padding: 10px 20px 10px 0;
}
.header__nav{
    display: flex;
    height: 100%;
    width: 35%;
    padding: 0 20px 0 20px;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 30px 10px 0;
}
.header__nav__ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    align-items: center;
}
.nav__item{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 30px;
    list-style: none;
    line-height: 1;
}
.nav__item:hover{
    text-decoration: underline;
}

.nav__item2{
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 768px) {
    .nav__item {
        font-size: 14px;
    }
    .nav__item2{
        font-size: 14px;
    }
    .search-input{
        font-size: 14px;
    }
}
