body {
    background-color: #FFFFFF;
    margin: 0;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: left;
    width: 100%;
}

input {
    height: 59px;
    width: 100%;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-card{
    background-color: #FFFFFF;
    padding: 40px 60px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    width: 60%;
}
@media (max-width: 768px) {
    .login-card {
        width: 90%;
        max-width: none;
        padding: 30px 20px;
    }
}

.login-title{
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}
.form-group {
    text-align: left;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-width: 100%;
}
.btn-login{
    width: 100%;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 26px;
    cursor: pointer;
    margin-top: 80px;
}
.btn-login:hover {
    opacity: 0.9;
}
.login-link{
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    text-align: center;
    width: 100%;
    }

.login-link:hover {
    text-decoration: underline;
    }

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    }