.modal__review{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
}
.modal__review.is-open{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__review{
    margin: 0;
}

.modal__card{
    width: 500px;
    background: #f6f1de;
    border: 1px solid #8a8a6a;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}
.card__part{
    padding: 18px 20px;
    border-bottom: 1px solid #8a8a6a;
    box-sizing: border-box;
}
.card__part:first-child{
    background: #f6f1de;
    text-align: left;
    border-bottom: 1px solid #8a8a6a;
}
.card__part:nth-child(2){
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.moda__message{
    background-color: #f6f1de;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.review__cmt{
    margin: 0 0 24px;
    color: #868686;
    font-size: 18px;
}
.review-star{
    font-size: 50px;
    color: #D9D9D9;
    cursor: pointer;
    font-size: 80px;
    text-align: center;
}
.review-star:hover{
    color: #FFF048;
}
.rating input:checked + .review-star,
.rating input:checked + .review-star ~ .review-star{
    color: #FFF048;

}
.card__part:last-child{
    border-bottom: none;
    text-align: right;
    padding: 10px 12px;
}
.submit_btn{
    color: #FFFFFF;
    background-color: #FF8282;
    border-radius: 5px;
    border: none;
}