.mypage {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 20px;
}

.mypage__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto 20px;
}

.avatar__img {
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    background: #ddd;
    object-fit: cover;
}

.mypage__name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.mypage__btn {
    margin-left: auto;
}

.mypage__edit-btn {
    border: 2px solid #F45B5B;
    color: #F45B5B;
    padding: 6px 18px;
    border-radius: 4px;
    background: #fff;
    text-decoration: none;
    font-size: 20%;
    font-weight: bold;

}

.mypage__tabs {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-left: 80px;
}
.line{
    width: 100%;
    border-bottom: 2px solid #5F5F5F;
}

.tabs__list {
    border: none;
    background: none;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    display: flex;
    gap: 50px;
    list-style: none;
}

.tab.is-active {
    color: #F45B5B;
    font-weight: bold;
}
.tab{
    text-decoration: none;
    font-size: 24px;
    color: #5F5F5F;
    font-weight: bold;
}

.mypage__line {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.mypage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.mypage-card {
    background: #f9f9f9;
    padding: 6px;
}

.mypage-card__img-wrap {
    width: 100%;
    aspect-ratio: 1/1;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypage-card__img-wrap.placeholder {
    font-size: 12px;
    color: #000;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__name {
    margin-top: 2px;
    font-size: 13px;
}

.is-hidden {
    display: none;
}