body {
    background-color: #FFFFFF;
    margin: 0;
}
main{
    width: 100%;
}


label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: left;
    width: 100%;
}
input {
    height: 59px;
    width: 100%;
}

.profile{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.avatar{
    display: flex;
    margin: 40px 0;
    text-align: left;
    width: 50%;
    align-items: center;
    gap: 20px;
}
.avatar-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar__img {
    width: 150px;
    height: 150px;
    border-radius: 9999px;
    background: #ddd;
    object-fit: cover;
}

.img__btn {
    display: none;
}
.profile-image-preview img {
    width: 80%;
    max-height: 130px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 4px;
}
.form-group {
    text-align: center;
    margin-bottom: 40px;
    display: block;
    width: 100%;
    max-width: 100%;
}
.profile-title{
    font-size: 36px;
}
.profile-submit{
    width: 100%;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 26px;
    cursor: pointer;
    margin: 80px 0;
    text-align: center;
    
}

.avatar-button{
    width: 35%;
    border: 1px solid #FF5555;
    color: #FF5555;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 5px;

}
.error-message{
    color: red;
    font-size: 12px;
    margin-top: 3px;
    text-align: left;
}
