.purchase {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.purchase__inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.purchase__left {
    flex: 1;
}

.purchase-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.show-left__img {
    width: 120px;
    height: 120px;
}

.purchase-item__name {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 20px;
}

.purchase-item__price {
    font-weight: 600;
    font-size: 20px;
}

.purchase__line {
    border: none;
    border-top: 5px solid #ddd;
    margin: 24px 0;
}

.purchase-block__ttl {
    font-weight: 600;
    margin-bottom: 12px;
}

.purchase-select {
    width: 240px;
    padding: 6px;
    margin-left: 60px;
}

.purchase-block__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-block__link {
    font-size: 20px;
    color: #0073ff;
    text-decoration: none;
}
.purchase-block__link:hover {
    opacity: 0.9;
}

.purchase-address {
    margin: 10px 0 20px 60px;
    line-height: 1.5;
}

.purchase__right {
    width: 260px;
}

.purchase-summary {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.purchase-summary__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    border-bottom: 1px solid #000;
}

.purchase-summary__row:last-child {
    border-bottom: none;
}

.purchase-btn {
    width: 100%;
    background: #F45B5B;
    color: #fff;
    border: none;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.purchase-summary__label,.purchase-summary__value{
    font-size: 16px;
    margin: 10px 0 10px 20px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}
