body {
    background-color: #FFFFFF;
}
label{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    width: 680px;
    display: block;
}
input{
    height: 59px;
    width: 680px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-card {
    background-color: #FFFFFF;
    padding: 40px 60px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    width: 680px;
}

.logo {
    width: 140px;
    margin-bottom: 20px;
}

.register-title {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    width: 680px;
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
    display: block;
}

.btn-register {
    width: 680px;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 26px;
    cursor: pointer;
    margin-top: 80px;
}

.btn-register:hover {
    opacity: 0.9;
}

.login-link {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    text-align: center;
    width: 680px;
}

.login-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}