.sell {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
}

.sell__ttl {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sell-block {
    margin-bottom: 28px;
}

.sell-block__ttl {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
}

.sell-image-drop {
    border: 1px dashed #ccc;
    background: #fff;
    height: 140px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sell-image-drop__text {
    background: #fff;
    border: 1px solid #F45B5B;
    color: #F45B5B;
    padding: 6px 16px;
    border-radius: 4px;
}

.sell-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 12px 0 16px;
}

.sell__label {
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
    color: #000;
    font-size: 24px;
    width: 100%;

}

.sell-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 16px;
}

.sell-category-tag {
    cursor: pointer;
}

.sell-category-tag__input {
    display: none;
}

.sell-category-tag__label {
    border: 1px solid #FF5655;
    color: #FF5655;
    border-radius: 9999px;
    padding: 4px 12px;
    font-size: 12px;
    background-color: #fff;
}

.sell-category-tag__input:checked+.sell-category-tag__label {
    background: #FF5655;
    color: #fff;
}
.sell-block__ttl-gray{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 30px;
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
    
}

.sell__select,
.sell__textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 6px 8px;
    display: block;
}
.sell__input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 6px 8px;
    display: block;
    padding: 6px 8px 6px 28px;
}

.sell__textarea {
    resize: vertical;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
    color: #000;
    font-size: 24px;
}

.sell-price {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.sell-price__yen {
    font-weight: 600;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sell-submit {
    width: 100%;
    background: #F45B5B;
    color: #fff;
    border: none;
    border-radius: 2px;
    height: 42px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
}

.form-error {
    color: #e11d48;
    font-size: 12px;
    margin-top: 4px;
}
