
.show {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.show__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin: 20px;
}

.show-left__img {
    width:80%;
    height: 60%;
    margin: 10px auto;
    display: block;
    
}

.item-image-placeholder {
    width: 100%;
    padding-top: 100%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.item-show__main {
    flex: 1;
}

.item-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.item-brand {
    color: #555;
    margin-bottom: 16px;
}

.item-price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}

.item-actions {
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}
.item__actions-icons{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.item__like-icon{
    text-decoration: none;
    border: none;
    background: transparent;
}

.item-like,.item__comment{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: flex;

}
.action__btn{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}
.action__btn:hover{
    opacity: 0.9;
}

.btn,.btn-comment {
    background: #f45b5b;
    color: #fff;
    padding: 10px 32px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: #f45b5b;
}
.btn:hover{
    opacity: 0.9;
}

.item-section {
    margin-top: 24px;
}

.section-title {
    font-weight: 700;
    margin-bottom: 8px;
}

.item-info-row {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 8px;
}

.item-info-label {
    width: 120px;
    color: #555;
}

.item-tags {
    display: flex;
    gap: 8px;
}

.item-tag {
    background: #eee;
    padding: 4px 12px;
    border-radius: 9999px;
    font-size: 12px;
}

.comment {
    display: block;
    gap: 12px;
    margin-bottom: 12px;
}
.comment__icon{
    display: flex;
}

.comment__icon-img {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
}

.comment__name {
    font-weight: 600;
    font-size: 20px;
}
.comment__text{
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 4px;
}

.comment-form__textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 12px;
}
.form-error {
    color: #e11d48;
    font-size: 12px;
    margin-top: 4px;
}

